@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');


@keyframes enlarge {
    from {
        max-width: 50%;  
        max-height: 50%;  
        }
    to {
        max-width: 100%;  
        max-height: 100%;  
    }
}

body {
    background-color: #2a4a5c;
    color: aliceblue;
}

h1 {
    font-size: 300%;
    font-family: 'Josefin Sans', sans-serif;
}

.listbody {
    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    img {
        /* max-width: 50%; */
        border-radius: 50%;
        width: 50%;  
        transition: 0.3s;

        &:hover{
            width: 60%;  
            cursor: pointer;
        }

    }
    .imgClass:hover img:not(:hover) {
        filter: blur(5px);
    }
    .desc {
        visibility: hidden;
        opacity: 0;
        color: white;
        transition: 0.3s;
    }
    img:hover + .desc{
        visibility: visible;
        opacity: 1;
    }
    height: 80vh; 
}

.sideBar {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    /* width: 0; */
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: red;
}

